*.svp
*.pyc
*~
*.swp
ucli.key
.restartSimSession.tcl.old
.synopsys_dve_rebuild.tcl

csrc/*
simv.daidir/*
*.swp
.__afs*

csrc/*
simv.daidir/*
*.swp
.__afs*


*.bak
*.log
vivado*
lab2/*
*webtalk*
*/csrc/
*/DVEfiles/
*/simv*
*.vpd
audio_test/
audio_test_hdl/
test/
zedboard_audio-master/hdl/64/



Desktop.ini

.vlogansetup.*

cpu/build/*
cpu/inter.vpd
cpu/vc_hdrs.h
cpu/BusLog.txt

vivado/GBA.runs/*
vivado/GBA.hw/*
vivado*
webtalk.jou

db
greybox_tmp
incremental_db
output_files
simulation
hc_output
scaler
hps_isw_handoff
vip
*_sim
.qsys_edit
PLLJ_PLLSPE_INFO.txt
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.sof
*.qws
*.ppf
*.ddb
build_id.v
c5_pin_model_dump.txt
*.sopcinfo
*.csv
*.f
*.cmp
*.sip
*.spd
*.bsf
*~
*.xml
*.cdf

